/* navigation styles */
.header-wrapper {
    height: 50px;
    background-color: #F6F8F9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navigation-logo {
    display: inline-block;
    padding: 18px 0 17px 20px;
}

.navigation {
    display: inline-block;
    margin: 20px 0 18px 92px;
}

.navigation ul li{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 22px;
}

.navigation ul li a {
    height: 12px;
}

/* footer styles */
.footer {
    height: 200px;
    background-color: #A6ADB4;
}

/* body section styles */
.section-continer {
    width: 1160px;
    height: 410px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.card {
    width: 360px;
    height: 350px;
    position: relative;
}

.card-image {
    height: 180px;
}

.card-image-text {
    position: absolute;
    width: 280px;
    height: 16px;
    margin: 0 auto;
}

.card-text-block {
    width: 280px;
    height: 64px;
    position: absolute;
    margin-bottom: 40px;
    margin-left:40px;
}