/* navigation styles */
.header-wrapper {
    height: 50px;
    background-color: #F6F8F9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 0 17px 20px;
    z-index: 999;
}

.navigation-logo {
    display: inline-block;
    color: #FA6980;
    font-weight: bold;
}

.avtive-page {
    color: #343638 !important;
}

.navigation {
    display: inline-block;
    margin-left: 92px;
}

.navigation ul li{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 22px;
}

.navigation ul li a {
    height: 12px;
    color: #707070;
}

.avatar-round {
    display: inline-block;
    position:absolute;
    margin-top: -8px;
    margin-left: 18px;
}

/* footer styles */
.footer {
    height: 200px;
    background-color: #A6ADB4;
    margin-top:37px;
    position: relative;
    bottom: 0;
    padding-top: 56px;
}

.footer-content-container {
    position: relative;
    width: 1159px;
    height: 84px;
    margin: 0 auto;
    z-index: 3;
}

.footer-categories-block {
    display: inline-block;
    vertical-align: top;
    width: 486.09px;
    height: 84px;
}

.footer-logo-container {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.footer-list-block {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 84px;
    margin-left:89px;
    color:#CBD0D3;
}

.list-block-first {
    display: inline-block;
    vertical-align: top;
}

.list-block-first ul li {
    font-size: 13px;
    margin-bottom: 8px;
}

.list-block-second {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}

.list-block-second ul li {
    font-size: 13px;
    margin-bottom: 8px;
}

.list-block-third {
    display: inline-block;
    vertical-align: top;
    margin-left: 89px;
}

.list-block-third ul li {
    font-size: 13px;
    margin-bottom: 8px;
}

.footer-text-container {
    display: inline-block;
    vertical-align: top;
    width: 243px;
    margin-left: 104.9px;
    font-size: 11px;
    color: #CBD0D3;
}

.footer-logos-container {
    display: inline-block;
    vertical-align: top;
    /* width: 160px; */
    right: 0;
    position: absolute;
}

.footer-logos-container ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}

/* body section styles */
body {
    background-color: #F6F8F9;
}

.container {
    margin-top: 75px; /* 50px + 25px ჰედერი + საწყისი დაშორება ჰედერსა და კონტენტს შორის*/
}

.section-container {
    width: 1160px;
    height: 410px;
    margin: 0 auto;
    background-color: #F6F8F9;
}

.divider {
    height: 58px;
}

.section-photos-container {
    width: 1160px;
    height: 960px;
    margin: 0 auto;
}

.section-title {
    width: 100%;
    height: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}

.left-card {
    width: 360px;
    height: 350px;
    position: relative;
    display: inline-block;
    /* border: 1px solid; */
    margin-top: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
}

.middle-card {
    width: 360px;
    height: 350px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
}

.right-card {
    width: 360px;
    height: 350px;
    position: relative;
    display: inline-block;

    margin-top: 40px;
    background-color: #FFFFFF;
}

/* .card {
    width: 360px;
    height: 350px;
    position: relative;
    display: inline-block;
    border: 1px solid;
    margin-top: 40px;
    margin-right: 40px;
} */

.card-image {
    width: 360px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.card-image-text {
    position: absolute;
    width: 280px;
    height: 16px;
    margin-left: 40px;
    top:28px;
    font-size: 16px;
    color: #FFFFFF;
    z-index: 1;
    font-weight: bold;
}

.card-text-block {
    width: 280px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    margin-left:40px;
    font-size: 13px;
    color: #A6ADB4;
}

.text-block-text {
    height: 38px;
}

.text-block-time-container {
    height: 16px;
    margin-top:10px;
}

.text-block-clock {
    display: inline-block;
    vertical-align: middle;
}

.text-block-time {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.photos-continer-title {
    width: 770px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.left-photos-container {
    display: inline-block;
    vertical-align: top;
    width: 760px;
    height: 900px;
    /* border: 1px solid; */
}

.right-photos-container {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 896px;
    margin-left:40px;
}

.img-container {
    display: inline-block;
    margin-bottom: 40px;
}

.img-container-1 {
    display: inline-block;
}

.img-first {
    display: inline-block;
    margin-bottom: 102px;
}

.img-second {
    display: inline-block;
}

.img-third {
    display: inline-block;
    margin-top:102px;
}